Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.selectToClipboard: true
Xcursor*theme: Adwaita

rofi.color-enabled: true
rofi.color-window: #2f343f, #2f343f, #2f343f
rofi.color-normal: #2f343f, #d8dee8, #2f343f, #2f343f, #bf616a
rofi.color-active: #2f343f, #b48ead, #2f343f, #2f343f, #93e5cc
rofi.color-urgent: #2f343f, #ebcb8b, #2f343f, #2f343f, #ebcb8b 

URxvt.scrollBar: false
URxvt*depth: 32

URxvt*font:	-gohu-gohufont-medium-*-*-*-14-*-*-*-*-*-iso8859-*,\
		xft:Kochi Gothic:antialias=false,\
            	xft:Baekmuk Gulim
URxvt*boldFont:-gohu-gohufont-medium-*-*-*-14-*-*-*-*-*-iso8859-*

! Schema based off wallpaper
*.foreground: #F8F8F2
*.background: #39404c 
*color0: #265780
*color1: #2a425a
*color2: #5381b3
*color3: #455f74
*color4: #6cb0df
*color5: #9ad1d7
*color6: #467595
*color7: #0f2c62
*color8: #87d7fa
*color9: #698499
*color10: #6994bf
*color11: #9ab1c5
*color12: #79c6ca
*color13: #8ebae7
*color14: #4791d2
*color15: #bdc1c4
